<!-- <mat-tab-group>
  <mat-tab label="About Me">
    Angular / Javascript developer with a passion for thoughtful UI design and colloboration.
    I’ve always sought out opportunities and challenges that are meaningful to me. I've never stopped engaging my passion to help others
    and solve problems.
  </mat-tab>
  <mat-tab label="Skills"> Javascript, Angular, AWS, Node JS. </mat-tab>
  <mat-tab label="Experience"> 11 years. </mat-tab>
  <mat-tab label="Contact"> Contact </mat-tab>
</mat-tab-group> -->
<div class="h-full w-full flex content-center justify-center items-center">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-10">
    Button
  </button>
</div>

<router-outlet></router-outlet>